@import 'tailwindcss';

:root {
  --background: #fbfbfd;
  --foreground: #ffffff;

  --primary: #273d89;
  --primary-light: #676a73;
  --primary-dark: #081542;
  --primary-darker: #112053;

  --secondary: #daefff;
  --secondary-light: #00c3d0;
  --secondary-lighter: #f6f8ff;
  --secondary-dark: #2a2c31;

  --neutral: #f5f7ff;
  --neutral-light: #e7eaf5;
  --neutral-lighter: #f0f0f3;
  --neutral-dark: #e9f4f8;

  --accent: #db0d15;
  --accent-light: #ffd9da;
  --accent-lighter: #a8b95e;

  --stroke: #acb1c6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-dark: var(--secondary-dark);

  --color-neutral: var(--neutral);
  --color-neutral-light: var(--neutral-light);
  --color-neutral-lighter: var(--neutral-lighter);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
  --color-accent-lighter: var(--accent-lighter);

  --color-stroke: var(--stroke);

  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
